page-ment {
    .content-ios {
        background-color: #FFF;
    }
    .grid {
        text-align: center;
        height: 90%;
        font-size: 1.3rem;
    }
    .row {
        padding: 5px;
        img {
            display: block;
            width: 4rem;
            margin: 0 auto;
        }
    }
    .row1 {
        height: 30%;
    }
    .row2 {
        height: 40%;
    }
    .row3 {
        height: 25%;
    }
    .bianp {
        color: #fff;
    }
    .p1 {
        @extend .bianp;
        height: 100%;
        margin-right: 10px;
        background-color: #bde56e;
    }
    .p2 {
        @extend .bianp;
        height: 100%;
        background-color: #70c2f8;
    }
    .ct {
        height: 100%;
        // background-color: red;
    }
    .p3 {
        @extend .bianp;
        height: 100%;
        margin-right: 10px;
        background-color: #ffb542;
    }
    .f-p4 {
        padding-bottom: 5px;
        height: 50%;
    }
    .p4 {
        position: relative;
        height: 100%;
        color: #fff;
        background-color: #f68158;
    }
    .f-p5 {
        padding-top: 5px;
        height: 50%;
    }
    .p5 {
        position: relative;
        height: 100%;
        color: #666;
        background-color: #f3f4f3;
    }
    .p6 {
        @extend .bianp;
        height: 100%;
        margin-right: 10px;
        background-color: #f0524c;
    }
    .p7 {
        @extend .bianp;
        height: 100%;
        background-color: #54c6ff;
    }
    .h-v-centered {
        width: 100%;
    }
    .pdnone {
        height: 100%;
    }
}