page-case {
    ion-grid {
        text-align: center;
        height: 90%;
        font-size: 1.3rem;
    }
    ion-row{
        height: 30%;
        padding:20px;
        ion-col{
            color: white;
            height: 100%;
            // padding-top: 20% !important;
            line-height:100%;
            font-size:1.5rem;
            .img{
                height: calc(100% - 25px);
                margin:0 auto;
                img{
                    height: 100%;
                }
            }
        }
        ion-col:nth-child(4n-3){
            background-color:#67A5F2;
            margin:8px 0;
        }
        ion-col:nth-child(4n-2){
            background-color:#28396F;
            margin:8px 0;
        }
        ion-col:nth-child(4n-1){
            background-color:#28396F;
            margin:8px 0;
        }
        ion-col:nth-child(4n){
            background-color:#67A5F2;
            margin:8px 0;
        }
    }
}
