
<ion-header>
    <ion-navbar>
        <ion-title>案件审核</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="verifyList.length" class="pd-t10">
        <ng-container *ngFor="let obj of verifyList">
        <ion-item-sliding margin-bottom *ngIf="obj.access_role_id==native.UserSession.role._id">
            <ion-item no-lines tappable (click)="goOtherPage(obj)">
                <h5>{{obj.type}}
                    <span class="c-amt fn-right" *ngIf="obj.status==0">待审核</span>
                    <span class="c-amt fn-right" *ngIf="obj.status==1">已结案</span>
                </h5>
                <div>
                    <div class="ctnr">{{obj.name}}</div>
                    <div class="c-666 time">{{obj.create_time*1000 | date:"yyyy-MM-dd hh:ss"}}</div>
                </div>
            </ion-item>
        </ion-item-sliding>
            </ng-container>
    </ion-list>
    <div *ngIf="!verifyList.length" class="none-cont">
        <img src="assets/img/ment/db.png" />
        <p>暂无待审核案件~</p>
    </div>
</ion-content>