
<ion-header>
    <ion-navbar>
        <ion-title>案件处理</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="verifyList.length" class="pd-t10">
        <ion-item-sliding margin-bottom *ngFor="let obj of verifyList">
            <ion-item no-lines [navPush]="rejectPage" [navParams]="obj">
                <h5>{{obj.type}}
                    <span class="c-amt fn-right" *ngIf="obj.status==0">进行中</span>
                    <span class="c-amt fn-right" *ngIf="obj.status==1">已结案</span>
                </h5>
                <div>
                    <div class="ctnr">{{obj.name}}</div>
                    <div class="c-666 time">{{obj.create_time | date:"yyyy-MM-dd hh:ss"}}</div>
                </div>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <div *ngIf="!verifyList.length" class="none-cont">
        <img src="assets/img/ment/db.png" />
        <p>暂无待处理案件~</p>
    </div>
</ion-content>