<!--
  Generated template for the RegistinfoPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding-bottom>
    <ion-list>
        <ion-item-divider *ngIf="resgistFlg">
            身份证照片
        </ion-item-divider>
        <ion-item no-lines *ngIf="resgistFlg">
            <img style="height:100px" src="data:image/png;base64,{{userInfo.images.coverSmall}}" alt="">
        </ion-item>
        <ion-item-divider>
            个人信息
        </ion-item-divider>
        <ion-item>
            <ion-label fixed>名字<em class="danger">*</em></ion-label>
            <ion-input type="text" placeholder="请输入姓名" [(ngModel)]="userInfo.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>性别</ion-label>
            <ion-select [(ngModel)]="userInfo.sex" okText="确定" cancelText="取消">
                <ion-option value="男">男</ion-option>
                <ion-option value="女">女</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label fixed>民族</ion-label>
            <ion-input type="text" placeholder="请输入民族" [(ngModel)]="userInfo.nation"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>生日</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" [(ngModel)]="userInfo.birthday"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label fixed>身份证号<em class="danger">*</em> </ion-label>
            <ion-input type="text" placeholder="请输入身份证号码" [(ngModel)]="userInfo.idNum"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>手机号码 </ion-label>
            <ion-input type="tel" placeholder="请输入手机号码" [(ngModel)]="userInfo.mobile"></ion-input>
        </ion-item>
        <ion-item *ngIf="">
            <ion-label fixed>登录密码 </ion-label>
            <ion-input type="password" placeholder="请输入6位数字密码" [(ngModel)]="userInfo.pwd"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>所在单位<em class="danger">*</em></ion-label>
            <ion-select [disabled]="!resgistFlg" [(ngModel)]="departments.department" placeholder="请选择所在单位" okText="确定" cancelText="取消" (ionChange)="getjobList()">
                <ion-option *ngFor="let depart of departList" [value]="depart._id">{{depart.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="jobList.length||userInfo.title">
            <ion-label fixed>职称<em class="danger">*</em></ion-label>
            <ion-select [disabled]="!resgistFlg" [(ngModel)]="userInfo.title" placeholder="请选择职称" okText="确定" cancelText="取消">
                <ion-option *ngFor="let job of jobList" [value]="job._id">{{job.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label fixed>住所</ion-label>
            <ion-textarea placeholder="请输入住址" [(ngModel)]="userInfo.residence"></ion-textarea>

        </ion-item>
    </ion-list>
    <div padding-horizontal>
        <button ion-button block (click)="doresigt()">{{resgistFlg?'确认注册':"确认修改"}}</button>
    </div>
    <div *ngIf="resgistFlg" padding>
        <button ion-button color="secondary" block outline (click)="goLogin()">重新识别</button>
    </div>

</ion-content>