page-home {
    .amap-icon {
        img {
            width: 100%;
        }
    }
    .item-icon{
        color:#488AFD;
    }
    .toggle-ios .toggle-icon {
        border: 1px solid #ededed
    }
    .info-middle {
        font-size: 12px;
        line-height: 20px;
        img {
            float: left;
            width: 60px;
        }
    }
    .model {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10000;
        width: 80%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 10px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
        ion-icon {
            position: absolute;
            width: 40px;
            font-size: 30px;
            right: 0;
            top: 0;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        .m-ct {
            padding-top: 10px;
            font-size: 1rem;
            img {
                width: 100px;
                float: left;
                min-height: 50px;
                margin-right: 5px;
            }
        }
        .cansf {
            width: 100%;
            height: 150px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, .9);
        }
    }
    .model-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
        background-color: rgba(0, 0, 0, .4);
    }
    .amap-marker-label {
        background-color: rgba(255, 255, 255, .6);
        border-color: transparent;
        color: #333
    }
}