page-home {
    .map_container {
        width: 100%;
        height: 100%;
    }
    .amap-icon {
        img {
            width: 100%;
        }
    }
    .toggle-ios .toggle-icon {
        border: 1px solid #ededed
    }
}