page-statistics {
    .card-header-ios {
        padding: 0px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 10px;
    }
    .list-header-ios {
        color: $card-ios-text-color;
    }
}