.stroke{
    .scroll-content{
        .card-ios{
            border-radius: 10px;
            .card-header{
                padding:10px 0 5px;
                border-bottom:1px solid #ddd;
                font-size: 2rem;
                .s_title{
                    display: inline-block;
                    width:80px;
                    text-align: center;
                    background:#0D3F7C;
                    color:#fff;
                    font-size:1rem;
                    margin-right: 10px;
                }
            }
            .card-content{
                padding:1rem;
                .s_time{
                    font-size:3rem;
                }
            }
        }
    }
}