// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, twitter: ( base: #317be9, contrast: #fff));
$hairlines-width:1px;
$text-color:#333;
$text-fff-color: #fff;
$card-ios-text-color:#666;

/*修改头部样式*/

$tabs-ios-border-color:rgba(0, 0, 0, .1);
$toolbar-background:color($colors, primary);
.header-ios .toolbar-background-ios {
    border-color: color($colors, primary) !important;
}

.bar-buttons-ios {
    color: $text-fff-color;
}


/*修改底部tab样式*/

$tabs-ios-background:color($colors, twitter, contrast);
$tabs-ios-tab-icon-size:24px;
$tabs-ios-border-color:rgba(0, 0, 0, .1);

/*修改容器样式*/

.ion-page>ion-content {
    background-color: color($colors, light);
}


/*修改上拉刷新样式*/

.refresher-pulling-text,
.refresher-refreshing-text {
    font-size: 12px !important;
}

.has-refresher>.scroll-content {
    border-top-width: 0 !important;
}


/*红点*/

.imread {
    float: right;
    background-color: #488aff;
    padding: 4px;
    margin-top: -24px;
    border-radius: 100%;
}


/*tost提示样式*/

$toast-ios-background:rgba(0, 0, 0, .8);
.toast-ios {
    &.custoast {
        .toast-wrapper {
            left: 50%;
            right: auto;
            display: inline-block;
            width: 80%;
            transform: translateX(-50%) !important;
            border-radius: 5px;
            bottom: 20%!important;
        }
        .toast-message {
            padding: 10px;
        }
    }
}


/*修改弹框样式*/

$alert-ios-border-radius:5px;
$alert-ios-title-font-size:1.5rem;
$alert-ios-title-font-weight:500;
$alert-ios-button-font-size:1.5rem;
$alert-ios-button-main-font-weight:normal;
$alert-ios-message-text-align:left;
$alert-ios-title-margin-top:0;
$alert-ios-head-padding-bottom:12px;
$alert-ios-message-font-size:1.4rem;
.cus-cancel {
    .button-inner {
        color: $card-ios-text-color;
    }
}


/*loading样式*/

$loading-ios-box-shadow:none;
$loading-ios-text-color:rgba(255, 255, 255, 1);
$loading-ios-background:rgba(0, 0, 0, .8);
$loading-ios-border-radius:4px;
$loading-ios-padding:16px;
//item
$item-ios-body-text-font-size:1.5rem;
$item-ios-divider-color:#999;
$list-border-color:#ededed;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";