    // http://ionicframework.com/docs/v2/theming/
    // App Global Sass
    // --------------------------------------------------
    // Put style rules here that you want to apply globally. These
    // styles are for the entire app and not just one component.
    // Additionally, this file can be also used as an entry point
    // to import other Sass files to be included in the output CSS.
    //
    // Shared Sass variables, which can be used to adjust Ionic's
    // default Sass variables, belong in "theme/variables.scss".
    //
    // To declare rules for a specific mode, create a child rule
    // for the .md, .ios, or .wp mode classes. The mode class is
    // automatically applied to the <body> element in the app.
    // 字体图标
    @font-face {
        font-family: "Ionicons";
        src: url('../assets/img/iconfont/iconfont.eot');
        /* IE9*/
        src: url('../assets/img/iconfont/iconfont.eot?t=1498055624823#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../assets/img/iconfont/iconfont.woff?t=1498055624823') format('woff'), /* chrome, firefox */
        url('../assets/img/iconfont/iconfont.ttf?t=1498055624823') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../assets/img/iconfont/iconfont.svg?t=1498055624823#iconfont') format('svg');
        /* iOS 4.1- */
    }
    
    .ion-ios-geren:before {
        content: "\e600";
    }
    
    .ion-ios-geren-outline::before {
        content: "\e600";
    }
    
    .ion-ios-diqiu:before {
        content: "\e603";
    }
    
    .ion-ios-diqiu-outline::before {
        content: "\e603";
    }
    
    .ion-ios-xiaoxi:before {
        content: "\e638";
        padding-top: 1px;
    }
    
    .ion-ios-xiaoxi-outline::before {
        content: "\e638";
        padding-top: 1px;
    }
    
    .ion-ios-guanli:before {
        content: "\e610";
    }
    
    .ion-ios-guanli-outline::before {
        content: "\e610";
    }
    
    .ion-ios-xinwen:before {
        content: "\e630";
    }
    
    .ion-ios-xinwen-outline::before {
        content: "\e630";
    }
    
    .icon-geren:before {
        content: "\e600";
    }
    
    .icon-diqiu:before {
        content: "\e603";
    }
    
    .icon-xiaoxi2:before {
        content: "\e638";
    }
    
    .icon-icon02:before {
        content: "\e630";
    }
    
    .icon-shezhi:before {
        content: "\e60c";
    }
    
    .icon-guanli1:before {
        content: "\e610";
    }
    
    .icon-saoma:before {
        content: "\e670";
    }
    
    .icon-staff-copy:before {
        content: "\e671";
    }
    
    .icon-xiugaixinxi:before {
        content: "\e7a9";
    }
    
    .icon-renyuan:before {
        content: "\e644";
    }
    
    .icon-xiugaimima:before {
        content: "\e604";
    }
    
    .icon-qingjia:before {
        content: "\e607";
    }
    
    .icon-genghuanlaoshibanzhuren:before {
        content: "\e617";
    }
    
    // 公共样式
    .highlight {
        background-color: #f4f4f4;
    }
    
    .center {
        display: block;
        margin: 0 auto;
    }
    
    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .top-radius {
        border-radius: 10% 10% 0 0;
    }
    
    .bottom-radius {
        border-radius: 0 0 10% 10%;
    }
    
    .round {
        border-radius: 50%;
    }
    /*变量*/
    
    $font-size-base:1.4rem;
    $font-size-secondary:1.3rem;
    $border-color-base:#f0f0f0;
    $border-radius-base:5px;
    $background-color-base:#f6f6f6;
    $active-color: #347bea;
    /*功能性样式*/
    /*模块*/
    
    .bgcard {
        background-color: $background-color;
        border-radius: 4px;
        overflow: hidden;
    }
    
    .listcard {
        @extend .bgcard;
        border: 1px solid #e0e0e0;
        margin: 9px 5px;
        overflow: initial;
    }
    
    .bg-ct {
        padding: 1px 10px;
        background-color: $background-color;
    }
    
    .lighbg {
        background-color: $background-color;
    }
    
    .activebg {
        background-color: $active-color;
    }
    
    .br-base {
        border-radius: $border-radius-base;
    }
    /*position*/
    
    .rel {
        position: relative;
    }
    
    .abs {
        position: absolute;
    }
    /* display */
    
    .dn {
        display: none;
    }
    
    .di {
        display: inline;
    }
    
    .db {
        display: block;
    }
    
    .dib {
        display: inline-block;
    }
    /* width */
    /* fixed width value */
    
    .w16 {
        width: 16px;
    }
    
    .w20 {
        width: 20px;
    }
    
    .w50 {
        width: 50px;
    }
    
    .w70 {
        width: 70px;
    }
    
    .w100 {
        width: 100px;
    }
    
    .w120 {
        width: 120px;
    }
    
    .w140 {
        width: 140px;
    }
    
    .w160 {
        width: 160px;
    }
    
    .w180 {
        width: 180px;
    }
    
    .w200 {
        width: 200px;
    }
    
    .w220 {
        width: 220px;
    }
    
    .w250 {
        width: 250px;
    }
    
    .w280 {
        width: 280px;
    }
    
    .w300 {
        width: 280px;
    }
    
    .w320 {
        width: 320px;
    }
    
    .w360 {
        width: 360px;
    }
    
    .w400 {
        width: 400px;
    }
    
    .w460 {
        width: 460px;
    }
    
    .w500 {
        width: 500px;
    }
    
    .w600 {
        width: 600px;
    }
    
    .w640 {
        width: 640px;
    }
    
    .w700 {
        width: 700px;
    }
    /* percent width value */
    
    .pct10 {
        width: 10%;
    }
    
    .pct15 {
        width: 15%;
    }
    
    .pct20 {
        width: 20%;
    }
    
    .pct25 {
        width: 25%;
    }
    
    .pct30 {
        width: 30%;
    }
    
    .pct33 {
        width: 33.3%;
    }
    
    .pct40 {
        width: 40%;
    }
    
    .pct50 {
        width: 50%;
    }
    
    .pct60 {
        width: 60%;
    }
    
    .pct66 {
        width: 66.6%;
    }
    
    .pct70 {
        width: 70%;
    }
    
    .pct75 {
        width: 75%;
    }
    
    .pct80 {
        width: 80%;
    }
    
    .pct90 {
        width: 90%;
    }
    
    .pct100 {
        width: 100%;
    }
    /* height */
    
    .ht-19 {
        height: 19px;
    }
    
    .ht-20 {
        height: 20px;
    }
    
    .height-p100 {
        height: 100%;
    }
    /* line-height */
    
    .lh19 {
        line-height: 19px;
    }
    
    .lh1 {
        line-height: 1;
    }
    
    .lh11 {
        line-height: 1.1;
    }
    
    .lh12 {
        line-height: 1.2;
    }
    
    .lh13 {
        line-height: 1.3;
    }
    
    .lh14 {
        line-height: 1.4;
    }
    
    .lh15 {
        line-height: 1.5;
    }
    
    .lh2 {
        line-height: 2;
    }
    /*margin*/
    
    .mauto {
        margin: 0 auto;
    }
    
    .ma5 {
        margin: 5px;
    }
    
    .ma10 {
        margin: 10px;
    }
    
    .ma-t5 {
        margin-top: 5px;
    }
    
    .ma-t10 {
        margin-top: 10px;
    }
    
    .ma-t20 {
        margin-top: 20px;
    }
    
    .ma-t40 {
        margin-top: 40px;
    }
    
    .ma-r6 {
        margin-right: 6px;
    }
    
    .ma-r8 {
        margin-right: 8px;
    }
    
    .ma-r10 {
        margin-right: 10px;
    }
    
    .ma-b6 {
        margin-bottom: 6px;
    }
    
    .ma-b10 {
        margin-bottom: 10px;
    }
    
    .ma-b13 {
        margin-bottom: 13px;
    }
    
    .ma-b20 {
        margin-bottom: 20px;
    }
    
    .ma-l5 {
        margin-left: 5px;
    }
    
    .ma-l10 {
        margin-left: 10px;
    }
    
    .ma-l13 {
        margin-left: 13px;
    }
    /*padding*/
    
    .pdnone {
        padding: 0;
    }
    
    .pd12 {
        padding: 12px;
    }
    
    .pd12-10 {
        padding: 12px 10px;
    }
    
    .pd5-10 {
        padding: 5px 10px;
    }
    
    .pd10-5 {
        padding: 10px 5px;
    }
    
    .pd {
        padding: 10px;
    }
    
    .pd5 {
        padding: 5px;
    }
    
    .pd5-v {
        padding: 5px 0;
    }
    
    .pd5-h {
        padding: 0 5px;
    }
    
    .pd-t10 {
        padding-top: 10px;
    }
    
    .pd-r5 {
        padding-right: 5px;
    }
    
    .pd-r10 {
        padding-right: 10px;
    }
    
    .pd-r50 {
        padding-right: 50px;
    }
    
    .pd-r65 {
        padding-right: 65px;
    }
    
    .pd-b8 {
        padding-bottom: 8px;
    }
    
    .pd-b6 {
        padding-bottom: 8px;
    }
    
    .pd-b0 {
        padding-bottom: 0;
    }
    
    .pd-l5 {
        padding-left: 5px;
    }
    
    .pd-l10 {
        padding-left: 10px;
    }
    /*字体大小*/
    
    .fz-18 {
        font-size: 1.8rem;
    }
    
    .fz-16 {
        font-size: 1.6rem;
    }
    
    .fz-15 {
        font-size: 1.5rem;
    }
    
    .fz-13 {
        font-size: 1.3rem;
    }
    
    .fz-12 {
        font-size: 1.2rem;
    }
    
    .fz-nm {
        font-size: $font-size-base;
    }
    
    .fz-sc {
        font-size: $font-size-secondary;
    }
    
    .fz-0 {
        font-size: 0;
    }
    /*字体加粗*/
    
    .fzw-bold {
        font-weight: bold;
    }
    /*字体颜色*/
    
    .c-fff {
        color: #fff;
    }
    
    .c-063185 {
        color: #063185;
    }
    
    .c-c8c8c8 {
        color: #c8c8c8;
    }
    
    .c-fc9153 {
        color: #fc9153;
    }
    
    .c-58d281 {
        color: #58d281;
    }
    
    .c-ff7b57 {
        color: #ff7b57;
    }
    
    .c-333 {
        color: #333;
    }
    
    .c-666 {
        color: #666;
    }
    
    .c-999 {
        color: #999;
    }
    
    .c-disabled {
        color: #dcdcdc;
    }
    
    .c-347aea {
        color: #347aea;
    }
    
    .c-amt {
        color: #ff7800;
    }
    
    .danger {
        color: #f53d3d;
    }
    /*边框*/
    
    .border-t {
        border-top: 1px solid $border-color-base;
    }
    
    .border-r {
        border-right: 1px solid $border-color-base;
    }
    
    .border-b {
        border-bottom: 1px solid $border-color-base;
    }
    
    .border-l {
        border-left: 1px solid $border-color-base;
    }
    
    .border-r-fff {
        border-right: 1px solid #fff;
    }
    
    .border-r-dashed-fff {
        border-right: 1px dashed #fff;
    }
    
    .border-t-eb {
        border-top: 1px solid #ebebeb;
    }
    
    .border-b-eb {
        border-bottom: 1px solid #ebebeb;
    }
    /*小图标*/
    
    .icon-nm {
        width: 2rem;
        height: 2rem;
    }
    /* text-decoration */
    
    .tdl {
        text-decoration: underline;
    }
    
    .tdn,
    .tdn:hover,
    .tdn a:hover,
    a.tdl:hover {
        text-decoration: none;
    }
    /* letter-spacing */
    
    .lt-1 {
        letter-spacing: -1px;
    }
    
    .lt0 {
        letter-spacing: 0;
    }
    
    .lt1 {
        letter-spacing: 1px;
    }
    /* white-space */
    
    .normal-wrap {
        white-space: normal;
    }
    
    .nowrap {
        white-space: nowrap;
    }
    /* word-wrap */
    
    .bk {
        word-wrap: break-word;
    }
    /* vertical-align */
    
    .vm {
        vertical-align: middle;
    }
    
    .vtb {
        vertical-align: text-bottom;
    }
    
    .vb {
        vertical-align: bottom;
    }
    
    .vt {
        vertical-align: top;
    }
    
    .vn {
        vertical-align: -2px;
    }
    /* overflow */
    
    .ovh {
        overflow: hidden;
    }
    
    .ovxh {
        overflow-x: hidden;
    }
    
    .ovyh {
        overflow-y: hidden;
    }
    
    .ova {
        overflow: auto;
    }
    /* 大小不定元素垂直居中 */
    
    .dib_vm {
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    /* 清理浮动 */
    
    .fn-clear:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    
    .fn-clear {
        zoom: 1;
        /* for IE6 IE7 */
    }
    /* 隐藏*/
    
    .fn-hide {
        display: none;
    }
    
    .fn-v-hide {
        visibility: hidden;
    }
    /* 设置内联, 减少浮动带来的bug */
    
    .fn-left {
        display: inline;
        float: left;
    }
    
    .fn-right {
        display: inline;
        float: right;
    }
    /* 强制换行 */
    
    .toWrap {
        word-break: break-all;
        /* 只对英文起作用，以字母作为换行依据。 */
        word-wrap: break-word;
        /* 只对英文起作用，以单词作为换行依据。*/
        white-space: pre-wrap;
        /* 只对中文起作用，强制换行。*/
    }
    /* 单行省略 */
    
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* 多行省略 */
    
    .ellipsis-2l {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 数值代表显示几行 */
        -webkit-box-orient: vertical;
    }
    /* 水平垂直居中 */
    
    .h-v-centered {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    /*垂直居中 */
    
    .v-center-l {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .v-center-r {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* 文字两端对齐 */
    
    .text-justify {
        text-align: justify;
        text-justify: inter-ideograph;
    }
    /* 毛玻璃效果 */
    
    .blur {
        filter: url(blur.svg#blur);
        filter: blur(10px);
    }
    /* 阴影效果 */
    
    .box-shadow {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
    /*线文字居中*/
    
    .line-txt {
        display: inline-block;
        width: 18%;
        height: 1px;
        margin: 0 10px;
        background-color: #333;
        vertical-align: middle;
    }
    
    // 图片置灰
    .gray {
        filter: grayscale(100%);
        filter: gray;
    }
    
    .align-self-center {
        align-self: center;
    }
    
    //无记录展示
    .none-cont {
        text-align: center;
        padding-top: 35%;
        img {
            display: inline-block;
            width: 18%;
        }
        p {
            color: #666;
            margin: 10px;
        }
    }