<!--
  Generated template for the ShiftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>换班</ion-title>
    <!-- <ion-buttons right>
        <button ion-button full (click)="opentongzhi()">
          <ion-icon name="md-notifications"></ion-icon>
          <span *ngIf="chatser.hbred>0" class="imread imread_qj"></span>
        </button>
      </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding-top>
  <ion-list>
    <ion-item>
      <ion-label fixed>工作名称</ion-label>
      <ion-select [(ngModel)]="requestInfo.work_id" placeholder="请选择工作" okText="确定" cancelText="取消">
        <ion-option *ngFor="let work of worklist" [value]="work._id">{{work.regionname}}({{work.r_start_time*1000 | date:'MM-dd HH:mm'}}-{{work.r_end_time*1000 | date:'HH:mm'}}) </ion-option>
    </ion-select>
    </ion-item>
    <ion-item >
      <ion-label fixed>换班用户</ion-label>
      <ion-input type="text" (click)="selectShit()" disabled placeholder="请选择换班用户"[(ngModel)]="requestInfo.to_name"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label fixed>换班原因</ion-label>
    <ion-textarea placeholder="请输入换班原因" [(ngModel)]="requestInfo.change_content"></ion-textarea>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="sendMsg()">确定</button>
  </div>
</ion-content>