<!--
  Generated template for the UpcomingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>审批</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="leave">
                请假
            </ion-segment-button>
            <ion-segment-button value="shift">
                换班
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <div [hidden]="pet=='shift'">
            <div class="nologmessage" *ngIf="LeaveList.length==0">
                <ion-icon name="md-time"></ion-icon> 暂时没有待审核记录</div>
            <ion-list no-lines>
                <ng-container *ngFor="let msg of LeaveList">
                    <ion-card>
                        <ion-item>
                            <h2>{{msg.username}}申请请假</h2>
                            <p>请假时间：{{msg.start_time*1000 | date:"yyyy-MM-dd hh:ss"}}</p>
                            <p>
                                <span style="visibility:hidden">用来占位：</span>{{msg.end_time*1000 | date:"yyyy-MM-dd hh:ss"}}</p>
                        </ion-item>
                        <ion-card-content>
                            <p>{{ msg.leavecontent }}</p>
                        </ion-card-content>
                        <ion-row>
                            <ion-col>
                                <button (click)="approve(msg,1)" ion-button center clear full>
                                    <div>同意</div>
                                </button>
                            </ion-col>
                            <ion-col>
                                <button (click)="approve(msg,2)" ion-button center clear full>
                                    <div>拒绝</div>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ng-container>
            </ion-list>
        </div>
        <div [hidden]="pet=='leave'">
            <div class="nologmessage" *ngIf="LeaveList_hb.length==0">
                <ion-icon name="md-time"></ion-icon> 暂时没有待审核记录</div>
            <ion-list no-lines>
                <ng-container *ngFor="let msg of LeaveList_hb">
                    <ion-card>
                        <ion-item>
                            <h2>{{msg.username}}申请换班</h2>
                            <p>换班区域：{{msg.regionname }}</p>
                            <p>换班时间：{{msg.r_start_time*1000 | date:"yyyy-MM-dd hh:ss"}}</p>
                            <p>
                                <span style="visibility:hidden">用来占位：</span>{{msg.r_end_time*1000 | date:"yyyy-MM-dd hh:ss"}}</p>
                        </ion-item>
                        <ion-card-content>
                            <p>{{ msg.change_content }}</p>
                        </ion-card-content>
                        <ion-row>
                            <ion-col>
                                <button (click)="approve_hb(msg,1)" ion-button center clear full>
                                    <div>同意</div>
                                </button>
                            </ion-col>
                            <ion-col>
                                <button (click)="approve_hb(msg,2)" ion-button center clear full>
                                    <div>拒绝</div>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ng-container>
            </ion-list>
        </div>
    </div>
</ion-content>