<ion-header>
    <ion-navbar>
        <ion-title>
            {{pageTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="parmObj.getRadioType==1 || parmObj.getRadioType==2 || parmObj.getRadioType==4 || parmObj.getRadioType==7">
        <ion-card-header>
            {{tongjiname}}
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #lineCanvas></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==5">
        <ion-card-header>
            案件状态统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas1></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==5">
        <ion-card-header>
            案件类型统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas2></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==3">
        <ion-card-header>
            部门人员性别统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas1></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==3">
        <ion-card-header>
            部门人员年龄统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas2></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==3">
        <ion-card-header>
            部门人员职务统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas3></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==117">
        <ion-card-header>
            无用
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas4></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==6">
        <ion-card-header>
            人员管理统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #barCanvas6></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==6">
        <ion-card-header>
            网格中人员数量统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas6></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==6">
        <ion-card-header>
            设施管理统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #barCanvas7></canvas>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="parmObj.getRadioType==6">
        <ion-card-header>
            网格中设施数量统计
        </ion-card-header>
        <ion-card-content>
            <canvas height="300" #pieCanvas7></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>