page-step {
    input{
        text-align: right;
    }
    ion-input[type=button]{
            background: #dedede;
    -webkit-flex: initial;
    flex: initial;
    position: absolute;
    right: 10px;
    color: #666;
    width: auto;
    }
ion-list{
    margin: 0 !important;
}
}
